::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background:  transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #03588C;
    border: 2px solid #03588C;
    margin: 0 5px;
  }

aside{
    direction: rtl;

    display: flex;
    flex-direction: column;
    width: 60px;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #012340;
    color: white;
    overflow-y: scroll;
}

aside span{
    margin: 0px;
    padding: 12px 4px;
    cursor: pointer;
}

aside span:hover{
    border-bottom: solid 1px;

}

.ativo{
    background-color: #03588C;
}