body{
    display: grid;
    place-content: center;
    height: 100vh;
}

.App{
    display: flex;
    flex-direction: row;

}
main{
    width: 800px;
    background-color: #03588C;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    place-content: center;
}

.title{
    width: 400px;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.title button{
    border-radius: 30px;
    border: none;
}

.emojis{
    font-size: 30px;
}
.emojis img{
    width: 50px;
    height: 40px;
}
.jogo{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
}
.img{
    position: relative;
}

.top_img{
    width: 150px;
    height: 300px;
    position: absolute;
    background-color:#BF9780;
}
.bottom_img{
    width: 50px;
    height: 300px;
    right: 0;
    position: absolute;
    background-color: #BF9780;
}

.img img{
    width: 200px;
    height: 300px;
}

.frm{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.frm input, button{
    padding: 10px;
    border: none;
    outline: none;
}

.frm input{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.frm button{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
button{
    cursor: pointer;
}

.streak{
    width: 400px;
    text-align: center;
}

.dicas{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dicas span{
    width: 100%;
    text-align: center;
}


@media (max-width: 900px){
    main{
        width: 400px;
    }
}

